<ion-header>
  <ion-toolbar>
    <ion-title>admin-create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input [(ngModel)]="data.nom" placeholder="Entrez le nom de la pizza"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Prix</ion-label>
    <ion-input [(ngModel)]="data.prix" placeholder="Entrez le prix de la pizza"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item>

</ion-content> 