<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizzacro'c
    </ion-title>
    
  <ion-button routerLink="/home">
    <ion-icon name="pizza" slot="start"></ion-icon>
    <ion-label>Accueil</ion-label>
  </ion-button>
    
  <ion-button routerLink="/panier">
    <ion-icon name="basket" slot="start"></ion-icon>
    <ion-label>Panier</ion-label>
  </ion-button>
  
  <ion-button routerLink="/admin">
    <ion-icon name="construct" slot="start"></ion-icon>
    <ion-label>Administration</ion-label>
  </ion-button>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input [(ngModel)]="data.nom" placeholder="Entrez le nom de la pizza"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Prix</ion-label>
    <ion-input [(ngModel)]="data.prix" placeholder="Entrez le prix de la pizza"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item>

</ion-content> 