<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizzacro'c
    </ion-title>

    <ion-button routerLink="/home">
      <ion-icon name="pizza" slot="start"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-button>

    <ion-button routerLink="/panier">
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-button>

    <ion-button routerLink="/admin">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>Administration</ion-label>
    </ion-button>
  </ion-toolbar>

</ion-header>



<ion-content padding="true" class="has-header">

  <table>
    <thead>
      <tr>
        <th>Nom </th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Ajouter au panier</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="panier">
        <tr *ngFor="let item of panier ; let index = index">

          <td>{{ item.nom }}</td>
          <td>{{ item.prix }} </td>

          <td><input type="number" id="quantite" name="quantite" min="0" max="100"></td>
          <td><button color="primary" (click)="supprimerDuPanier(index)"> X </button> </td>
        </tr>
      </div>

      <div class="valider_commande">
        
        <td><button color="primary" (click)="validerCommande()">Valider commande </button> </td>

      </div>
    </tbody>
  </table>

</ion-content>