<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizzacro'c
    </ion-title>

    <ion-button routerLink="/home">
      <ion-icon name="pizza" slot="start"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-button>

    <ion-button routerLink="/panier">
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-button>

    <ion-button routerLink="/admin">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>Administration</ion-label>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allPizza">
          
          <td>{{ item.nom }}</td>
          <td>{{ item.prix }} </td>
          <td><button routerLink='/admin-edit/{{item.id}}'> Edit </button></td>
          <td><button (click)="deletePizza(item)"> Supprimer </button></td>
        </tr>
        
      </tbody>
      
    </table>
    
  <ion-button [routerLink]="['/admin-create']"> CREER PIZZA </ion-button>
  
</ion-content>
