<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizzacro'c
    </ion-title>
    
  <ion-button routerLink="/home">
    <ion-icon name="pizza" slot="start"></ion-icon>
    <ion-label>Accueil</ion-label>
  </ion-button>
    
  <ion-button routerLink="/panier">
    <ion-icon name="basket" slot="start"></ion-icon>
    <ion-label>Panier</ion-label>
  </ion-button>
  
  <ion-button routerLink="/admin">
    <ion-icon name="construct" slot="start"></ion-icon>
    <ion-label>Administration</ion-label>
  </ion-button>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td> <img src="{{ detailPizza.photo }}" alt="Select Image" />
        </td>
        <td>{{ detailPizza.nom }}</td>
        <td>{{ detailPizza.prix }} </td>
        
        <ion-button color="dark" (click)="ajouterAuPanier(detailPizza.id)"> Ajouter aux paniers</ion-button>
    </tr>
    
    <div *ngFor="let item of detailIngredient | keyvalue">
      <b>{{item.value}}</b>
    </div>


    </tbody>
  </table>

</ion-content>